name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar el repositorio # Clonar el repositorio  en la m谩quina virtual
        uses: actions/checkout@v4 # Usar la acci贸n de checkout  en la versi贸n 4

      - name:  Configurar Node.js # Configurar Node.js en la m谩quina virtual
        uses: actions/setup-node@v4 # Usar la acci贸n de setup-node en la versi贸n 4
        with: # Configurar la versi贸n de Node.js
          node-version: 18  # Usar la versi贸n 18 de Node.js

      - name:  Instalar dependencias y dar permisos a Jest
        run: |
          cd Backend
          npm install
          chmod +x node_modules/.bin/jest

      - name:  Ejecutar pruebas con Jest
        run: |
          cd Backend
          npm test

      - name:  Construir imagen de Docker
        run: |
          cd Backend
          docker build -t backend-pedidos . 
